.y1{
    width: fit-content;
    height: fit-content;
    border: 3px solid rgb(21, 156, 209);
    margin: 200px auto;
    padding: 1px 12px 12px 12px;
    background-color: rgba(0, 0, 0, 0.363);
    box-shadow: 1px 1px 90px 10px rgba(168, 243, 30, 0.658);
    border-radius: 12px;
}
.y2 img{
    width: 150px;
    border: 3px solid rgb(110, 65, 156);
    transform: translateY(50px);
    border-radius: 120px;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.rotate-continuously {
    animation: spin 3s linear infinite; /* 动画名称、持续时间、速度曲线、是否无限循环 */
}
body{
    background-color: rgb(145, 228, 37);
    color: rgba(226, 255, 94, 0.582);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("../images/shouji.jpg");
    background-size: cover;
}
.dabiaoti{
    transform: translateY(200%);
    color: rgb(255, 238, 0);
    font-size: 25px;
    font-family: 楷体;
    width: fit-content;
    background-color: rgba(15, 58, 95, 0.281);
    border-radius: 30px;
}
.shang{
    color:rgb(0, 255, 255);
    font-size: 20px;
}
td{
    color: rgb(255, 255, 255);
    background: #000;
    font-size: 25px;
    height: 50px;
}
table{
    border: 3px solid rgb(0, 255, 255);
    border-radius: 12px;
}
/* 默认情况下，所有设备都使用电脑背景图片 */
body {
    background-image: url('../images/bg.png');
}
